<a href="https://colab.research.google.com/github/RaymondKiplangat/PREP-INDEPENDENT-PROJECTS/blob/main/Moringa_Data_Science_Prep_W1_Independent_Project_2021_04_RAYMOND_KIPLANGAT_Sql_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# We will first load the sql extension into our environment
#
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed
#
%sql sqlite://

'Connected: @None'

In [ ]:
# Importing the python libraries that we will need in this notebook
#
import csv
import pandas as pd

In [ ]:
#Reading the csv files
# Loading the first table from a local CSV file
with open('/content/Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv','r') as f:
   Uganda= pd.read_csv(f, index_col=0, encoding='utf-8') 

# Then storing it in an SQL table of our in memory sqlite database
#
#%sql DROP TABLE if EXISTS Interpol;
%sql PERSIST Uganda;

 * sqlite://

'Persisted uganda'

In [ ]:

#preview all fields
%%sql
SELECT * FROM Uganda LIMIT 2

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825)]

In [ ]:
#Display a list of Sub Counties and their population and areas.
%%sql

SELECT SUBCOUNTY_NAME, POP, Area FROM Uganda

In [ ]:
#Sort the list of districts by total crop area (descending order).
%%sql 
SELECT DISTRICT_NAME FROM Uganda
ORDER BY  Crop_Area_Ha DESC;

In [ ]:
#Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum.
%%sql 
SELECT SUBCOUNTY_NAME,S_Prod_Tot FROM Uganda
WHERE DISTRICT_NAME="MOROTO"
ORDER BY  DISTRICT_NAME ASC ;

In [ ]:
#Compute the total Maize production per District.
%%sql 
SELECT  DISTRICT_NAME, SUM(M_Prod_Tot) As Total_M_DISTRICTS FROM Uganda;

 * sqlite://
Done.

[('NAKAPIRIPIRIT', 28603794.85281165)]

In [ ]:
#Compute the number of Sub counties where Maize is produced and the total Maize production per District.
%%sql 
SELECT SUBCOUNTY_NAME, "DISTRICT_NAME" , COUNT ('SUBCOUNTY_NAME') FROM Uganda
WHERE M_Prod_Tot > 1
GROUP BY DISTRICT_NAME;

 * sqlite://
Done.

[('NYAKWAE', 'ABIM', 6),
 ('AMUDAT TOWN COUNCIL', 'AMUDAT', 4),
 ('SIDOK', 'KAABONG', 14),
 ('RENGEN', 'KOTIDO', 6),
 ('RUPA', 'MOROTO', 5),
 ('MORUITA', 'NAKAPIRIPIRIT', 8),
 ('LOKOPO', 'NAPAK', 8)]

In [ ]:
#Compute the overall Crop area in all Sub counties where population is over 20000.
%%sql
SELECT SUBCOUNTY_NAME, SUM(Crop_Area_Ha) AS Overall_Area FROM Uganda
WHERE "POP" >20000 ;

 * sqlite://
Done.

[('RUPA', 120212.89015529997)]

In [ ]:
#Sort the Maize production in descending order by Districts, only taking into account Sub counties where Maize area is larger than Sorghum area, and display the number of Sub counties per district matching that criteria.
%%sql
SELECT DISTRICT_NAME , M_Area_Ha ,S_Area_Ha FROM Uganda
WHERE "M_Area_Ha" > "S_Area_Ha"
ORDER BY "M_Prod_Tot" DESC;